# Logs
logs
*.log

# Dependencies
node_modules

# Build folders
dist
dist-ssr

# Local environment files
*.local
.env

# Firebase secret file
firebaseKey.json

# Editor files
.vscode/*
.idea
.DS_Store