* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  font-family: Arial, sans-serif;
  color: white;
}

.mobile-container {
  width: 100%;
  min-height: 100vh;
}

.live-screen {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  background: #000;
}

/* VIDEO */
.video-wrapper iframe {
  width: 100%;
  height: 230px;
  border: none;
}

/* COMMENTS */
.comment-section {
  flex: 1;
  margin-top: 15px;
  /* Space below video */
  padding: 12px;
  overflow-y: auto;
  padding-bottom: 80px;
}

.comment {
  font-size: 14px;
  margin-bottom: 8px;
}

/* BOTTOM BAR */
.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #111;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-wrapper {
  flex: 1;
  position: relative;
}

.input-wrapper input {
  width: 100%;
  padding: 10px 40px 10px 15px;
  border-radius: 25px;
  border: none;
}

.input-wrapper span {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.bottom-bar button {
  background: none;
  border: none;
  font-size: 22px;
  color: white;
}

/* FLOATING HEARTS */

.floating-container {
  position: fixed;
  bottom: 90px;
  right: 20px;
  pointer-events: none;
}

.floating-heart {
  position: absolute;
  font-size: 26px;
  animation: floatUp 3s ease-out forwards;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateY(-300px) scale(1.8);
    opacity: 0;
  }
}